ADSBLOL_API_KEY=
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=uav.raw.states
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_SECURE=false
MINIO_BRONZE_BUCKET=bronze
